*{
    font-family: 'Poppins', sans-serif;
  }
.blog-detail{
   width: 100%;
   margin-bottom: 50px;
}
.breadcrumb-wrapper{
    background-color: #f9f9f9;
    margin-top: 5%;
    padding: 20px 150px;
}
.bread-nav{
    /* padding-top: 10px !important; */
    font-size: 15px;
}
.breadcrumb{
    margin: unset !important;
}
.active{
    color: #EE2737;
    font-weight: 500;
}
.content-inner {
    padding-top: 100px;
    padding-bottom: 70px;
}
.blog-single{
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 3.75rem;
    position: relative;
    background-color: #fff;
}
.dz-share-post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-top: 1px solid rgba(34, 34, 34, 0.1);
    border-bottom: 1px solid rgba(34, 34, 34, 0.1);
}
.rounded-md {
    border-radius: 10px !important;
}
.min-container{
    max-width: 53.125rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.938rem;
    padding-right: 0.938rem;
}
.dz-share-post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-top: 1px solid rgba(34, 34, 34, 0.1);
    border-bottom: 1px solid rgba(34, 34, 34, 0.1);
}
.post-tags {
    margin-left: -3px;
    margin-right: -3px;
}
.dz-social-icon {
    display: flex;
    align-items: center;
}
.dz-social-icon ul li{
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}
.btn-social{
    height: 30px;
    width: 30px;
    min-width: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    color: #EE2737;
}
.detail-img{
    width: 100%;
    height: 451px;
    object-fit: cover;
    border-radius: 6px;
}
.title{
    font-size: 42px;
    font-weight: 600;
    margin: 0 0 8px;
}
.dz-info{
    position: relative;
    padding: 25px 0 0;
}
.f-icon{
    color: #EE2737;
    font-size: 16px;
    margin-right: 10px;
}
.dz-meta ul li a{
    margin-right: 15px;
    color: #666666;
    font-size: 15px;
    font-weight: 500;
}
.dz-meta ul{
    display: flex;
}
.dz-meta{
    margin-bottom: 20px;
}

.author{
    color: #EE2737;
}
.dz-post-text p{
    color: #666666;
    font-size: 16px;
    margin: 0 0 16px;
}
blockquote {
    padding: 1.25rem 2rem 1.25rem 1.75rem;
    font-size: 1.375rem;
    color: #222222;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    line-height: 1.875rem;
    position: relative;
    clear: both;
    font-weight: 600;
    z-index: 1;
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 15px 55px rgba(34, 34, 34, 0.15);
}
blockquote cite::before {
    content: "";
    margin-right: 0.625rem;
    width: 36px;
    height: 2px;
    background: #222222;
    display: inline-block;
    vertical-align: middle;
}
blockquote cite {
    font-style: normal;
    position: relative;
    display: block;
    margin-top: -0.3125rem;
    font-weight: 600;
    color: #EE2737;
    line-height: 1.5;
    font-size: 1rem;
}
blockquote p {
    line-height: 1.5;
    color: #222222 !important;
    margin-bottom: 1rem !important;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px !important;
}
.wp-block-quote{
    padding: 1.25rem 2rem 1.25rem 1.75rem;
    font-size: 1.375rem;
    color: #222222;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    line-height: 1.875rem;
    position: relative;
    clear: both;
    font-weight: 600;
    z-index: 1;
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 15px 55px rgba(34, 34, 34, 0.15);

}
.tag{
    display: inline;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 600;
}
.post-tags a {
    position: relative;
    padding: 3px;
    display: inline-block;
    margin: 3px;
    font-size: 14px;
    color: #666666;
    line-height: 1.3;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}
.social-icon{
    font-size: 16px !important;
}
/* Review */
.review-img{
    position: absolute;
    left: 0;
    height: 80px;
    width: 80px;
    border-radius: 100%;
}
.comment-author cite{
    font-size: 1rem;
    line-height: 1.2;
    font-family: Poppins, sans-serif;
    color: 222222;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 8px;
    display: block;
}
.comment-list{
    margin-bottom: 60px;
    padding: 0;
}
.comment-body{
    position: relative;
    padding-left: 100px;
    margin-bottom: 30px;
    min-height: 95px;
    border-bottom: 1px solid rgba(34, 34, 34, 0.1);
    padding-bottom: 25px;
}
.comment-body p{
    margin-bottom: 10px;
    font-size: 15px;
    margin-top: 10px;
}
.comment-reply:before {
    left: 0;
    width: 6px;
    background: #ffc822;
        content: '';
        position: absolute;
        bottom: 0;
        height: 6px;
        border-radius: 3px;
}
.comment-reply{
    margin-bottom: 25px;
    position: relative;
    font-size: 1.25rem;
    padding-bottom: 12px;
    color: #222222;
    font-weight: 600;
}
.comment-reply:after {
    left: 12px;
    width: 53px;
    height: 4px;
    background: #EE2737; 
    content: '';
    position: absolute;
    bottom: 0;
    height: 4px;
    border-radius: 3px
}