.footer-section{
    background-color: #f4f4f4;
}
.footer-subscribe-wrapper{
    margin-bottom: 55px;
    border-bottom: 1px solid rgba(34, 34, 34, 0.1);
    padding-bottom: 40px;
}
.footer-logo{
    /* margin-left: 110px; */
    margin-left: 20px;
}
.footer-top{
    padding-top: 80px;
    padding-bottom: 50px;
    padding-left: 120px;
    padding-right: 50px;
}
.anim-logo{
    position: relative;
    padding-top: 5px;
    display: inline-block;

}
.anim-logo::after{
    content: "";
    animation-duration: 1.8s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: swigo-logo;
    background-image: url(../../assets//images/pan1.png);
    height: 12px;
    width: 38px;
    position: absolute;
    top: -7px;
    left: 3px;
    background-repeat: no-repeat;
}
@keyframes swigo-logo {
    0%, 45%, 55%, 65%, 75%, 80%, 85%, 100% {
      opacity: 1; /* Final opacity */
      animation-timing-function: cubic-bezier(0.2, 0.6, 0.35, 1);
    }
    0% {
      transform: rotate(0);
  }
  45% {
    transform: translate3d(-4%, -13%, 0) rotate(-13deg);
  }
  55% {
    transform: translate3d(1%, -2%, 0) rotate(6deg);
  }
  65% {
    transform: translate3d(-2%, -4%, 0) rotate(-3deg);
  }
  75% {
    transform: translate3d(2%, 3%, 0) rotate(3deg);
  }
  80% {
    transform: translate3d(-2%, 1%, 0) rotate(-2deg);
  }
  100% {
    transform: none;
  }

  }

.title{
    font-size: 24px;
    letter-spacing: 0.01em;
    margin-bottom: 15px;
    font-weight: 600;
}
.input-group-addon{
    position: absolute;
    right: 7px;
    top: 50%;
    z-index: 9;
    transform: translateY(-50%);
}
.input-group{
    
}
.logo-para{
    font-size: 14px;
    color: #757575;
    margin-top: 20px;
    margin-left: 20px;
}
.input-tag{
    background-color: white;
    padding: 10px 20px;
    font-size: 15px;
    height: 65px;
    width: 570px;
    border-radius:6px;
}
.input-tag:focus-visible{
    border: none !important;
}
.subscribe-btn{
    margin-top: -250px;
    background-color: #ee2737;
    color: white;
    z-index: 2;
    padding: 12px 24px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    left: 440px;
    position: relative;
    top: -45px;
}
.footer-title{
    margin-bottom: 20px !important;
    margin-bottom: 30px !important;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.1;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}
.text-md-start{
    text-align: left;
}
.footer-menu{
    list-style: none;
    display: flex;
}