<section class="footer-section">

    <footer>
        <div class="container">
            <div class="footer-top">
                <div class="footer-subscribe-wrapper">
                    <div class="wrapper-inner">
                        <div class="row justify-content-between">
                            <div class="col-xl-4 col-lg-4 mb-lg-0 m-b20">
                                <div class="footer-logo">
                                    <a class="anim-logo">
                                        <img src="../../assets/images/logo.png"/>
                                    </a>
                                </div>
                                <p class="mb-0 font-14 logo-para">Lorem Ipsum is simply dummy text of the printing <br/> and typesetting industry.</p>
                            </div>
                            <div class="col-xl-6 col-lg-6 mb-lg-0 m-b20">
                                <h5 class="title m-b15">Subscribe to Our Newsletter</h5>
                                <form class="dz-subscribe">
                                    <div></div>
                                    <div class="">
                                        <input type="text" placeholder="Enter Your Email" required class="input-tag" />
                                            <button class="subscribe-btn">Subscribe</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-6 text-md-start">
                        <h5 class="footer-title">Our Links</h5>
                        <div class="footer-menu">
                            <ul>
                                <li><a>Home</a></li>
                                <li>About Us</li>
                                <li>Services</li>
                                <li>Team</li>
                                <li>Blog</li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 col-6 text-md-end">
                        <h5 class="footer-title">Help Center</h5>
                        <div >
                            <ul class="footer-menu">
                                <li><a>FAQ</a></li>
                                <li>Shop</li>
                                <li>Category Filter</li>
                                <li>Testimonials</li>
                                <li>Contact Us</li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</section>