<section class="menuFooter-section">
    <footer class="site-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="footer-widget">
                            <h5 class="footer-title">Contact</h5>
                            <ul>
                                <li>
                                    <fa-icon></fa-icon>
                                    <p>1247/Plot No. 39, 15th Phase, Colony, Kkatpally, Hyderabad</p>
                                </li>
                                <li><fa-icon></fa-icon>
                                    <p>
                                        +91 987-654-3210
                                        <br/>
										+91 123-456-7890
                                    </p></li>
                                <li><fa-icon></fa-icon>
                                    <p>info@example.com
                                        <br/>
                                        info@example.com</p>
                                    </li>
                                <li><fa-icon></fa-icon>
                                    <p></p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="widget-services">
                            <h5 class="footer-title">Our Links</h5>
                            <ul>
                                <li><a>Home</a> </li>
                                <li> <a>About Us</a></li>
                                <li><a>Services</a></li>
                                <li><a>Team</a></li>
                                <li><a>Blog</a></li>
                                
                            </ul>

                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="widget-services">
                            <h5 class="footer-title">Our Services</h5>
                            <ul>
                                <li><a><span>Strategy & Research</span></a></li>
                                <li><a><span>Fast Delivery</span></a></li>
                                <li><a><span>Seat Reservation</span></a></li>
                                <li><a><span>Pickup In Store</span></a></li>
                                <li><a><span>Our Menu</span></a></li> 
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="widget-services">
                            <h5 class="footer-title">Help Center</h5>
                            <ul>
                                <li><a><span>FAQ</span></a></li>
                                <li><a><span>Shop</span></a></li>
                                <li><a><span>Category Filter</span></a></li>
                                <li><a><span>Testmonials</span></a></li>
                                <li><a><span>Contact Us</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="footer-bottom">
                <div class="row">
                    <div class="col-xl-6 col-md-6 text-md-start">
                        <p>Copyright 2023 All rights reserved.</p>
                    </div>
                    <div class="col-xl-6 col-md-6 text-md-end">
                        <span>
                            Powered by 
                            <a>DexignZone</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <img class="bg-1" src="../../assets/images/tomato.png"/>
        <img class="bg-2" src="../../assets/images/beans.png"/>
    </footer>
</section>
