<app-navbar></app-navbar>
<section class="contact-us-section">
    <div class="overlay-detail">
        <div class="inner-banner">
            <div class="container">
                <div class="banner-head text-center">
                    <h1>Contact Us</h1>
                    <nav style="--bs-breadcrumb-divider: '>'; color: white;" aria-label="breadcrumb" class="bread">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="#">Home</a></li>
                          <li class="breadcrumb-item" aria-current="page">Contact Us</li>
                        </ol>
                      </nav>
                </div>
            </div>
        </div>
       </div>
       <div class="section-wrapper-8">
        <div class="container">
            <div class="row inner-section-wrapper align-items-center">
                <div class="col-lg-3 col-sm-3">
                    <div class="icon-bx-wrapper">
                        <div class="icon-bx">
                            <div class="icon-cell">
                                <fa-icon class="contact-icons" [icon]="locationIcon"></fa-icon>
                            </div>
                        </div>
                        <div class="icon-content">
                            <h5 class="title-3">Location</h5>
                            <p>6952 Shelley St<br/>Melbource</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3">
                    <div class="icon-bx-wrapper">
                        <div class="icon-bx">
                            <div class="icon-cell">
                                <fa-icon class="contact-icons" [icon]="phoneIcon"></fa-icon>
                            </div>
                        </div>
                        <div class="icon-content">
                            <h5 class="title-3">Phone Number</h5>
                            <p>+(800) 800-900-100<br/>+222 33 567 8665</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3">
                    <div class="icon-bx-wrapper">
                        <div class="icon-bx">
                            <div class="icon-cell">
                                <fa-icon class="contact-icons" [icon]="mailIcon"></fa-icon>
                            </div>
                        </div>
                        <div class="icon-content">
                            <h5 class="title-3">Email Address</h5>
                            <p>Info@Webmail.com<br/>Info@Example.web.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3">
                    <div class="icon-bx-wrapper">
                        <div class="icon-bx">
                            <div class="icon-cell">
                                <fa-icon class="contact-icons" [icon]="clockIcon"></fa-icon>
                            </div>
                        </div>
                        <div class="icon-content">
                            <h5 class="title-3">Opening & Closing</h5>
                            <p>Mon - Fri: 09:00am<br/>to  07.00pm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       </div>
</section>
<app-menu-footer></app-menu-footer>