<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let menu of menu$ | async">
        <div class="dz-img-box style-2 box-hover" >
            <div class="dz-media">
                <img [src]='menu.image'/>
            </div>
            <div class="dz-content">
                <h4 class="dz-title"><a>{{menu.title}}</a></h4>
                <p>{{menu.description}}</p>
                <h5 class="dz-price text-primary">${{menu.price}}</h5>
                <a class="btn btn-primary btn-hover-2 cart-btn" (click)="addToCart(menu)">Add to Cart</a>
            </div>
        </div>
        
    </div>
</div>