*{
    font-family: 'Poppins', sans-serif;
}

.dz-img-box{
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.dz-img-box.style-2::before {
    top: -100%;
    background-color: #EE2737;
    z-index: 0;
}

.dz-img-box.style-2:hover, .dz-img-box.style-2.active {
    border-color: #EE2737;
}

.dz-img-box{
    text-align: center;
    padding: 40px 20px 30px;
    border: 1px solid #F5F5F5;
    margin-top: 60px;
    background: #fff;
    border-radius: 6px;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    height: 420px;
    width: 270px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.dz-img-box.style-2::after, .dz-img-box.style-2::before{
    position: absolute;
    content: "";
    z-index: -1;
    top: -190px;
    left: 50%;
    transform: translateX(-50%);
    background: #F5F5F5; 
    width: 335px;
    height: 335px;
    border-radius: 50%;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.dz-media{
    overflow: hidden;
    position: relative;
    width: 150px;
    min-width: 150px;
    margin: 0 auto 10px;
    border-radius: 50%;
    border: 9px solid #fff;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.dz-content{
    margin-top: auto;
}

.dz-content p{
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 8px;
    color: #686868;
}

.text-primary{
    color: #EE2737 !important;
}

.btn-hover-2{
    color: rgba(0, 0, 0, 0) !important;
    transition: all .3s ease !important;
    text-shadow: 0 0 0 #fff, 500px 0 0 #fff;
    overflow: hidden;
}

.cart-btn{
    background-color:#ee2737;
    border-color: #ee2737 !important;
    color: white;
    padding: 12px 24px;
    margin-top: 18px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    line-height: 1.5;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.dz-price{
    font-size: 20px;
    font-weight: 600;
}

.dz-title{
    font-size: 24px;
    font-weight: 600;
}

.dz-img-box:hover{
    background: #f6f6f6;
}

.dz-img-box.style-2:hover::after, .dz-img-box.style-2:hover::before{
    position: absolute;
    content: "";
    z-index: -1;
    top: -190px;
    left: 50%;
    transform: translateX(-50%);
     background-color: #EE2737; 
    width: 335px;
    height: 335px;
    border-radius: 50%;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.row{
    margin: unset;
}

.badge {
    background-color: gray; 
    color: white;
    border-radius: 50%;
    padding: 4px 8px;
    position: absolute; 
    top: 10px; 
    right: 100px; 
    z-index: 7;
    font-size: 14px; 
}

  
  
  
  
  
  