*{
    font-family: 'Poppins', sans-serif;
}
.contact-section{
   width: 100%;
 
   margin-top: 25px;
   
}
.contact-area{
   background: url('../../assets/images/pic13.png');
   background-attachment: fixed;
   background-position-y:63.744px ;
   padding: 50px 50px 20px;
   border-radius: 10px;
   background-color: #222222;
   width: 84%;
   margin-left: 130px;
}
.m-b30 , .contact-head{
    margin-bottom: 30px;
}
.contact-head h4{
    font-size: 24px;
    color: white;
    font-weight: 600;
    margin: 0px 0px 8px;
}
.contact-head p{
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 400;
}
.input-group{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.input-line{
    border-top: 1px solid #fff !important;
    align-items: center;
}
.input-group-prepand{
    width: 35px;
    height: 50px;
    line-height: 40px;
    position: absolute;
    left: 0;
}
.user-icon{
    font-size: 24px;
    color: white;
}
.input-fields{
    padding-left: 40px !important;
    padding: 0;
    height: 48px !important;
    line-height: 24px;
    padding-bottom: 10px;
    font-size: 18px;
    border: none;
    border-radius: 0;
    color: #fff;
    font-weight: 400;
    background-color: transparent;
}
.input-fields-2{
    padding-left: 40px !important;
    padding: 0;
    height: 48px !important;
    line-height: 24px;
    padding-bottom: 10px;
    font-size: 18px;
    border: none;
    border-radius: 0;
    color: #fff;
    font-weight: 400;
    background-color: transparent;
}
.input-fields:focus-visible{
     border: none !important;
     outline: unset !important;
}
::placeholder{
    color: white !important;
}
.book-btn{
    background-color:#EE2737 ;
    color: white;
    font-weight: 500;
    padding: 15px 30px;
    font-size: 16px;
    line-height: 25px;
    border-radius: 6px;
}
.row{
    width: 100%;
}
.widget{
    background-color: #EE2737;
    color: white;
}
.widget-primary{
    padding: 30px;
    background-color: EE2737;
    border-radius: 10px;
    margin-bottom: 0;
}
.head{
    margin-bottom: 40px;
}
.head p{
    font-size: 15px;
    opacity: 0.7;
    color: white;
}

.head-contact{
    font-size: 24px;
    font-weight: 600 !important;
    line-height: 1.2;
    margin: 0px 0px 8px;
}
.contact-icons{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 5px;
    line-height: 30px;
}
/* .text-area{
     display: inline;
     margin-left: 10px;
} */
.list-area li{
    color: #fff;
    display: flex;
    margin-bottom: 25px;
    padding-left: 40px;
    position: relative;
}

/* Time */

.contact-section::after{
    content: "";
    height: 125px;
    width: 100%;
    background-color: #f4f4f4;
    position: absolute;
    left: 0;
    z-index: -1;
    margin-top: -100px;
}
/* .contact-section-after{
    content: "";
    height: 125px;
    width: 100%;
    background-color: gray;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
} */
  