<section class="contact-section">
    <div class="contact-area">
          <div class="row align-items-center">
            <div class="col-lg-8 col-md-12 m-b30">
               <div class="contact-head">
                    <h4>Book a Table</h4>
                    <p>Lorem Ipsum is that it has a more-or-less normal distribution <br/>
                        of letters, to using making it look like readable English.</p>
                </div> 
              <form action="#">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 m-b30">
                            <div class="input-group">
                               <div class="input-group-prepand">
                                <fa-icon [icon]="userIcon2" class="user-icon"></fa-icon>
                               </div>
                            </div>
                            <input type="text" required class="input-fields" placeholder="Your Name"/>
                            <div class="input-line"></div>
                        </div>
                        <div class="col-lg-6 col-md-6 m-b30">
                            <div class="input-group">
                                <div class="input-group-prepand">
                                 <fa-icon [icon]="phoneIcon" class="user-icon"></fa-icon>
                                </div>
                             </div>
                             <input type="number" required class="input-fields" placeholder="Phone Number"/>
                             <div class="input-line"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 m-b30">
                            <div class="input-group">
                                <div class="input-group-prepand">
                                 <fa-icon [icon]="userGroup" class="user-icon"></fa-icon>
                                </div>
                             </div>
                             <!-- <input required class="input-fields" placeholder="No Of People"/> -->
                             <select class="input-fields-2" aria-placeholder="No Of People" id="numberSelect" name="number">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                              </select>
                             <div class="input-line"></div>
                        </div>
                        <div class="col-lg-6 col-md-6 m-b30">
                            <div class="input-group">
                                <div class="input-group-prepand">
                                 <fa-icon [icon]="mailIcon" class="user-icon"></fa-icon>
                                </div>
                             </div>
                             <input type="email" class="input-fields" placeholder="Your Email"/>
                             <div class="input-line"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 m-b30">
                            <div class="input-group">
                                <div class="input-group-prepand">
                                 <fa-icon [icon]="userIcon2" class="user-icon"></fa-icon>
                                </div>
                             </div>
                             <input type="time" required class="input-fields" placeholder="Time"/>
                             <div class="input-line"></div>
                        </div>
                        <div class="col-lg-6 col-md-6 m-b30">
                            <div class="input-group">
                                <div class="input-group-prepand">
                                 <fa-icon [icon]="userIcon2" class="user-icon"></fa-icon>
                                </div>
                             </div>
                             <input type="date" required class="input-fields" placeholder="Date"/>
                             <div class="input-line"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 m-b30"><button class="btn book-btn">Book a Table</button></div>
                        
                    </div>
                </form> 
            </div>
            <div class="col-lg-4 col-md-12 m-b30"></div>
        </div> 
    </div>
</section>
