<section class="menu-section">
    <div class="inner-menu-content">
        <div class="menu-head text-center">
            <h2 class="title">From Our Menu</h2>
        </div>
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-12">
                <div class="site-filters">
                    <ul class="filters" data-bs-toggle="buttons">
                        <li class="list-btn btn"><a>
                            <img src="../../assets/icons/fast-food.png" class="mini-icons"/>ALL
                        </a></li>
                       <li class="btn list-btn"><a><img src="../../assets/icons/cocktail.png" class="mini-icons"/>COLD DRINK
                        </a></li> 
                        <li class="btn list-btn"><a><img src="../../assets//icons/pizza-slice.png" class="mini-icons"/>PIZZA
                        </a></li>
                        <li class="btn list-btn"><a><img src="../../assets/icons/salad.png" class="mini-icons"/>SALAD
                        </a></li>
                        <li class="btn list-btn"><a><img src="../../assets/icons/cupcake.png" class="mini-icons"/>SWEETS
                        </a></li>
                        <li class="btn list-btn"><a><img src="../../assets/icons/chilli-pepper.png" class="mini-icons"/>SPICY
                        </a></li>
                        <li class="btn list-btn"><a><img src="../../assets/icons/hamburger.png" class="mini-icons"/>BURGER
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-12">
                <a class="btn-hover-3 btn view-btn">
                    <span class="btn-text">View All</span>
                </a>
            </div>
        </div>
        <div class="menuCard-1">
        <div class="row" >
            <div class="col-xl-4 col-lg-4 col-md-4"><app-menu-card img="../../assets/images/pic1.jpg" price="$4.56" content="It is a long established fact that a reader will be distracted by the readable." title="Burger" star="4.5"></app-menu-card></div>
            <div class="col-xl-4 col-lg-4 col-md-4"><app-menu-card img="../../assets/images/pic2.jpg" price="$17.56" content="It is a long established fact that a reader will be distracted by the readable." title="Chicken Burger" star="4.5"></app-menu-card></div>
            <div class="col-xl-4 col-lg-4 col-md-4"><app-menu-card img="../../assets/images/pic3.jpg" price="$24.50" content="It is a long established fact that a reader will be distracted by the readable." title="Pineapple Pizza" star="4.5"></app-menu-card></div>
         </div>
       </div>
         <div class="menuCard-2">
            <div class="row" >
                <div class="col-xl-4 col-lg-4 col-md-4"><app-menu-card img="../../assets/images/pic4.jpg" price="$$11.02" content="It is a long established fact that a reader will be distracted by the readable." title="Pineapple Soup" star="4.5"></app-menu-card></div>
                <div class="col-xl-4 col-lg-4 col-md-4"><app-menu-card img="../../assets/images/pic5.jpg" price="$4.56" content="It is a long established fact that a reader will be distracted by the readable." title="Momos" star="4.5"></app-menu-card></div>
                <div class="col-xl-4 col-lg-4 col-md-4"><app-menu-card img="../../assets/images/pic6.jpg" price="$12.20" content="It is a long established fact that a reader will be distracted by the readable." title="Pancake" star="4.5"></app-menu-card></div>
             </div>
         </div> 
    </div>
    <div></div>
</section>
