*{
    font-family: 'Poppins', sans-serif;
}

.top-seller-badge {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #FE9F10;
    border-radius: 9px 0px 10px;
    font-size: 12px !important;
    font-weight: 500 !important; 
    padding: 7px 10px !important;
    margin-right: 0;
    text-transform: uppercase;
    display: block;
    -webkit-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
    color: white;
  }
.img-box{
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 15px 55px rgba(34, 34, 34, 0.15);
    text-align: center;
    -webkit-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
    position: relative;
    height: 100%;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.img-box:hover {
    transform: translateY(-8px) scale(1.05); /* Move the card 5 pixels upward and scale it up by 5% on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* transform: scale(1.1); */
  }
.dz-media{
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
    transition: transform 0.2s ease-in-out;
    max-width: 100%; /* Ensure the image does not exceed the card width */
  max-height: 100%; /* Ensure the image does not exceed the card height */
  object-fit: cover;
}

.rating{
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    background-color: #fff;
    color: var(--title);
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 10px;
    margin-right: 0;
    text-transform: uppercase;
    display: block;
    -webkit-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}
.icon-2{
    color: #FE9F10;
    margin-right: 5px;
}
.card{
    width: 365px;
    border: none;
    padding-bottom: 10px;
}
.card-head{
    padding-top: 15px;
    font-size: 20px;
    font-weight: 600;
    margin: 0px 0px 8px;
}
.card-content{
    color: #868686;
    font-size: 14px;
    margin-bottom: 10px;
}
.card-price{
    color: #EE2737;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.1;
    margin-bottom: 30px;

}