<nav class="navbar fixed-top navbar-expand-lg bg-body-transparent" [class.fixed]="isNavbarFixed">
  <div class="container-fluid">
   <div class="logo-header-motion">
      <a class="anim-logo" href="#">
          <img src="../../assets/images/logo.png" alt="Logo" class="logo">

        </a>
   </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" >Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" >Blogs</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Contact Us
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
       
      </ul>
    </div>
    <div class="nav-icons">
     <ul class="navbar-nav">
      <li class="nav-item">
        <a href="/login"><fa-icon [icon]="userIcon" class="icon-1"></fa-icon></a>
        
      </li>
      <li class="nav-item">
        <fa-icon [icon]="cartIcon" class="icon-2"></fa-icon>
      </li>
     </ul>
    </div>
  </div>
</nav>