<section class="service-section">
    <div class="container">
        <div class="section-head text-center">
           <h2 class="service-title">Why Choose Us ?</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="icon-box-wrapper">
                    <div class="icon-box">
                        <div class="icon-cell">
                            <img src="../../assets/images/fast-delivery.png" class="menu-icons"/>
                        </div>
                    </div>
                    <div class="icon-content">
                        <p>27/7 Free Delivery</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="icon-box-wrapper">
                    <div class="icon-box">
                        <div class="icon-cell">
                            <img src="../../assets/images/clock.png" class="menu-icons"/>
                        </div>
                    </div>
                    <div class="icon-content">
                        <p>Our Restaurant is Open<br/>Around the Clock</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="icon-box-wrapper">
                    <div class="icon-box">
                        <div class="icon-cell">
                            <img src="../../assets/images/chef.png" class="menu-icons"/>
                        </div>
                    </div>
                    <div class="icon-content">
                        <p>Best Chef</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="icon-box-wrapper">
                    <div class="icon-box">
                        <div class="icon-cell">
                            <img src="../../assets/images/cuisine.png" class="menu-icons"/>
                        </div>
                    </div>
                    <div class="icon-content">
                        <p>We Have The Freshest<br/> Product</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
