<div class="comment-respond">
    <h3 class="comment-reply">Add a review</h3>
    <form class="comment-form" (ngSubmit)="submitReview()" [formGroup] = 'reviews'>
      <p class="comment-form-author">
        <input placeholder="Author" [formControl]="reviews.controls.name" [(ngModel)]="review.name"/>
      </p>
      <p class="comment-form-email">
        <input placeholder="Email" [formControl]="reviews.controls.email" [(ngModel)]="review.email" />
      </p>
      <div class="comment-form-rating">
        <label class="label-rating">Your Rating</label>
        <div class="rating-widget" >
            <div class="rating-stars">
                <ul class="star-list" [(ngModel)]="review.star" >
                    <li class="star" (click)="selectRating(1)">
                        <fa-icon [icon]="starIcon" class="s-icon" [ngClass]="{'active': selectedRating >= 1}"></fa-icon>
                      </li>
                      <li class="star" (click)="selectRating(2)">
                        <fa-icon [icon]="starIcon" class="s-icon" [ngClass]="{'active': selectedRating >= 2}"></fa-icon>
                      </li>
                      <li class="star" (click)="selectRating(3)">
                        <fa-icon [icon]="starIcon" class="s-icon" [ngClass]="{'active': selectedRating >= 3}"></fa-icon>
                      </li>
                      <li class="star" (click)="selectRating(4)">
                        <fa-icon [icon]="starIcon" class="s-icon" [ngClass]="{'active': selectedRating >= 4}"></fa-icon>
                      </li>
                      <li class="star" (click)="selectRating(5)">
                        <fa-icon [icon]="starIcon" class="s-icon" [ngClass]="{'active': selectedRating === 5}"></fa-icon>
                      </li>
                </ul>

            </div>

        </div>
      </div>
      <p class="comment-form-comment">
        <textarea rows="10" [formControl]="reviews.controls.content" placeholder="Type Review Here" id="comment" [(ngModel)]="review.content"></textarea>
      </p>
      <p class="form-submit">
        <button type="submit" class="btn-hover-2" id="submit">Submit Now</button>
      </p>
    </form>
</div>
