*{
    font-family: 'Poppins', sans-serif;
}
.dz-card.style-1 {
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 15px 55px rgba(34, 34, 34, 0.15);
    overflow: hidden;
    background-color: #fff;
    vertical-align: middle;
    margin-bottom: 30px;
    display: flex;
}
.dz-media {
    min-width: 240px;
    width: 240px;
    overflow: hidden;
    height: auto;
    position: relative;
}
.dz-media::before {
    position: absolute;
    top: 0;
    left: -85%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    transition: all 0.5s;
}
.dz-info {
    padding: 25px 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
}
.dz-meta {
    margin-bottom: 10px;
}
.dz-title {
    margin-bottom: 8px;
    word-break: break-word;
    font-weight: 600;
    color: #222222;
    font-size: 20px;
}
.dz-title:hover{
    color: #EE2737;
}
.dz-info p {
    font-size: 14px;
    line-height: 22px;
    color: #666666;
}
.read-btn {
    margin-top: auto;
}
.btn-hover-2 {
    color: white;
    background-color:#EE2737;
    border-color: #EE2737;
    transition: all .3s ease !important;
    text-shadow: 0 0 0 #fff, 500px 0 0 #fff;
    overflow: hidden;
    padding: 12px 24px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    line-height: 1.5;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.dz-meta ul {
    margin: 0;
    padding: 0;
}
.dz-meta ul li {
    display: inline-block;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    margin-right: 12px;
    font-weight: 500;
}
.dz-meta ul li a {
    color: #666666;
    margin-right: 10px;
}

.dz-meta ul li {
    margin-right: 5px;
    color: #EE2737;
    position: relative;
    top: 0px;
    
}
.icon-1{
    font-size: 16px;
    margin-right: 5px;
    color: #EE2737;
}
.icon-2{
    font-size: 16px;
    margin-right: 5px;
    color: #EE2737;
}
