*{
    font-family: 'Poppins', sans-serif;
}

.checkout-section{
   width: 100%;
   margin-bottom: 100px;
}

.productDetail-section{
    width: 100%;
}

.product-detail{
    padding-left: 150px;
    padding-right: 190px;
}

.banner-head{
    margin-top: 150px;
}

.overlay-detail {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
    z-index: 1;
    margin-bottom: 50px;
}

.inner-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.overlay-detail::before {
    content: "";
    background-image: url('../../assets/images/bnr3.jpg');
    background-size: cover;
    background-position-y: 0px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.banner-head h1{
    color: #fff;
    font-weight: 400;
    font-size: 70px;
    line-height: 1.2;
    margin-bottom: 20px;
    font-family: 'Lobster';
}

.bread{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.breadcrumb{
    background-color:#EE2737;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    margin: 0;
    border-radius: 10px;
    justify-content: center;
    width: 260px;
    align-items: center;
    padding: 13px 30px;
}

.breadcrumb-item{
    color: white;
}

.breadcrumb-item+.breadcrumb-item::before{
    color: white;
}

.content-inner-1{
    padding-top: 60px;
    padding-bottom: 100px;
    padding-left: 150px;
    padding-right: 200px;
}

.btn-hover-2 {
    color: white;
    background-color:#EE2737;
    border-color: #EE2737;
    transition: all .3s ease !important;
    text-shadow: 0 0 0 #fff, 500px 0 0 #fff;
    overflow: hidden;
    padding: 12px 24px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    line-height: 1.5;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
