*{
    font-family: 'Poppins', sans-serif;
  }
.content-inner{
    padding-top: 100px;
    padding-bottom: 80px;
 
}
.row{
    margin: unset;
}
.menu-items{
    margin-left: 150px;
}
.featured-content h1{
    font-size: 60px;
    line-height: 1;
    font-style: normal;
    font-family: 'Lobster';
}
.fadeInUp{
    visibility: visible;
    animation-delay: 0.4s;
    animation-name: fadeInUp;
    width: 280px;
    margin-right: 30px;
}

@keyframes fadeInUp{
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}