<section class="content-inner">
    <div class="featured-content text-center">
        <h1>Our Featured Foods</h1>
    </div>
   <div class="menu-items">
    <div >
        <div  >
            <app-card></app-card>
        </div>
        <!-- <div class="col-lg-3 col-md-6 col-sm-6 fadeInUp" >
            <app-card src='../../assets/images/rice.jpg' title="Rice" content="Lorem ipsum dolor sit amet consectetur adipiscing." price="$50.00"></app-card>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 fadeInUp" >
            <app-card src='../../assets/images/salad.jpg' title="Green Salad" content="Lorem ipsum dolor sit amet consectetur adipiscing." price="$45.00"></app-card>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 fadeInUp" >
            <app-card src='../../assets/images/pasta.jpg' title="Pasta" content="Lorem ipsum dolor sit amet consectetur adipiscing." price="$35.00"></app-card>
        </div> -->
    </div>
   </div>
    
</section>