*{
    font-family: 'Poppins';
}
.banner-inner{
    position: relative;
    background-color: white;
    z-index: 1;
    top: -10px;
}
.primary-box{
    position: relative;
    z-index: 1;
}
.primary-box::before{
    position: absolute;
    content: "";
    z-index: 1;
    width: 214px;
    height: 214px;
    border-radius: 25px;
    background: #ee2737;
    transform: rotate(30deg);
    top: -127px;
    left: -117px;
}
.primary-box::after {
    background-color: rgba(238, 39, 55, 0.2);
    top: -103px;
    left: -112px;
}
.title{
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 1.2;
    width: 722px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.title span{
    margin-left: 15px;
}

.text-color{
    color: #ee2737;
    font-family: 'Lobster';
}
.home-btn{
    background-color: #ee2737 !important;
    border-color: #ee2737 !important;
    font-family: 'Poppins';
    padding: 15px 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    margin: 20px 20px 20px 0px;
}
.shadow-primary{
    box-shadow: 0px 5px 30px 0px rgba(238, 39, 55, 0.2);
}
.more-btn{
    background-color: white;
    border-color: #ee2737 !important;
    color: #ee2737;
    padding: 15px 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    margin: 20px 20px 20px 0px;
}
.banner-content{
    margin-left: 150px;
    margin-top: 0px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
   
}
.banner-content p{
    font-size: 18px;
    max-width: 522px;
    line-height: 28px;
    color: #7c7c7c;
}
.banner-media{
    position: relative;
    /* min-width: 50vw; */
    height: 100%;
    float: left;
}
.item-media{
    position: absolute;

    margin-left: -30px;
    bottom: 20px;
}
.offer{
    position: absolute;
    top: -90px;
    right: 50px;
    width: auto !important;
}
.crown{
    position: absolute;
    left: 18%;
    top: -12%;
    width: 80%;
}
.dz-move{
 animation: dzMove 7s infinite
}
@keyframes dzMove{
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    25% {
    -webkit-transform: translate(-15px);
    transform: translate(-15px);
    }
    50% {
        -webkit-transform: translate(-8px);
        transform: translate(-8px);

    }
    75% {
        -webkit-transform: translate(-15px);
        transform: translate(-15px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}
.dz-move-down {
    animation: dzMoveDown 7s infinite;
}

@keyframes dzMoveDown{
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    25% {
        -webkit-transform: translateY(-25px);
        transform: translateY(-25px);
    }
    50% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
    75% {
        -webkit-transform: translateY(-25px);
        transform: translateY(-25px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.item-bg{
    margin-right: 300px !important;
}
.p-unset{
    padding: unset;
}
.main-thumb2-area{
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    bottom: -130px;
    left: 0;
}
.main-thumb-2-area{
    margin-left: 150px;
    display: flex;
}
.icon{
    margin-right: 10px;
    -webkit-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
    width: 78px;
    min-width: 78px;
    height: 78px;
    line-height: 78px;
    border-radius: 6px;
    background: rgba(238, 39, 55, 0.1);
    color: var(--primary);
    text-align: center;
}
.icon:hover{
    background-color: white;
    border: 4px solid #fde9eb;
}
.icon img{
    display: inline-flex;
    vertical-align: middle;
    width: 45px !important;
    height: 45px !important;
}
.more-btn:hover{
    background-color: #ee2737;
    color: white;
}
